*{
	margin: 0px;
	padding: 0px;
	font-family: 'Arvo', serif;
}

h1{
	text-align: center;
	padding: 30px;
	background-color: #ccc;
	color: #fff;
}
a{
	text-decoration: none;
}


form{

	float: left;
	margin: 30px 20px;
	width: 30%;
	border: 1px solid #ccc;
	overflow: hidden;
}

input, textarea{
	width: 90%;
	padding: 5px;
	display: block;
	margin: 30px auto;

}

table{
	float: left;
	margin: 30px;
	width: 60%;
	text-align: center;
	border: 1px solid #ccc;

}

td{
	border-top: 1px solid #ccc;
	padding: 10px;
}

footer{
	clear: both;
	text-align: center;
	padding: 20px;
	background-color: #ccc;
	color: #fff;
	font-size: 30px;
}

.icon-user-plus{
	font-size: 70px;
	text-align: center;
	color: #0f6;
	margin: 10px;

}

.icon-pencil{
	font-size: 20px;
	color: #00f;
}

.icon-cross{
	font-size: 20px;
	color: #f00;
}